In [2]:
!pip install selenium
!pip install bs4
!pip install requests
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import re
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException

Requirement already satisfied: selenium in c:\users\azhar1\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\azhar1\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\azhar1\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\azhar1\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\azhar1\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\azhar1\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: bs4 in c:\users\azhar1\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\azhar1\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\azhar1\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Requirement already satisfied: requests in c:\users\azhar1\anaconda3\lib\site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\azhar1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\azhar1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\azhar1\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\azhar1\anaconda3\lib\site-packages (from requests) (2023.5.7)

In [4]:
# Question no. 1:

driver = webdriver.Chrome()

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

driver.maximize_window()
time.sleep(5)

# Retriving whole table information: 

wholetable=[]
for row in driver.find_elements(By.XPATH,'(//table[@class="wikitable sortable jquery-tablesorter"])[1]//tr')[1:-1]:
    temp = ''
    for element in row.find_elements(By.XPATH,".//td"):        
        temp += element.text + '|'
    wholetable.append(temp.split('|')[:-2])

# Creating and Re-arranging in DataFrame as per Question:

category = pd.DataFrame(wholetable, columns=['Rank', 'Video_Name', 'Artist_Name', 'Views_in_Billions', 'Upload_Date'])

columns = ['Rank', 'Video_Name', 'Artist_Name', 'Upload_Date', 'Views_in_Billions']

category.Video_Name = category.Video_Name.apply(lambda x:x[:-4].strip('"'))
category = category[columns]
category

,Rank,Video_Name,Artist_Name,Upload_Date,Views_in_Billions
0,1.,Baby Shark Dance,Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.23
2,3.,Johny Johny Yes Papa,LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,Bath Song,Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.05
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.98
6,8.,Wheels on the Bus,Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,7.,Phonics Song with Two Words,ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.99
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,Gangnam Style,Psy,"July 15, 2012",4.86
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies - children's songs,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.41
13,14.,Axel F,Crazy Frog,"June 16, 2009",4.00
14,15.,Sugar,Maroon 5,"January 14, 2015",3.91
15,16.,Roar,Katy Perry,"September 5, 2013",3.84
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.84
17,18.,Baa Baa Black Sheep,Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,Sorry,Justin Bieber,"October 22, 2015",3.69
19,20.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.68
20,21.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.63
21,22.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.63
22,23.,Dark Horse,Katy Perry,"February 20, 2014",3.56
23,24.,Perfect,Ed Sheeran,"November 9, 2017",3.51
24,25.,Faded,Alan Walker,"December 3, 2015",3.49
25,26.,Let Her Go,Passenger,"July 25, 2012",3.48
26,27.,Humpty the train on a fruits ride,Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,Girls Like You,Maroon 5,"May 31, 2018",3.45
28,29.,Bailando,Enrique Iglesias,"April 11, 2014",3.43
29,30.,Lean On,Major Lazer,"March 22, 2015",3.43

In [5]:
# Question no. 2:

driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/")

driver.maximize_window()
time.sleep(5)

button=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
button.click()
time.sleep(3)

try:
    btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]")
    btn.click()
    time.sleep(2)
    btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]")
    btn.click()
    time.sleep(2)
except ElementClickInterceptedException:
    print('Page not loaded yet -- Please run the code again')
    

# Scraping Title from the page:

title=[]
a=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for b in a:
    title.append(b.text)


# Scraping Series from the Page:

series=[]
a=driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
for b in a:
    series.append(b.text.replace('\n',' '))
    

# Scraping Place from the Page:    

place=[]
a=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for b in a:
    place.append(b.text)
    
    
# Scraping Date from the Page: 

date=[]
a=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for b in a:
    date.append(b.text)


# Scraping Time from the Page:

time=[]
a=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for b in a:
    time.append(b.text)

    
# Checking length of each column:

print(len(title),len(series),len(place),len(date),len(time))

Q2=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
Q2

8 8 8 8 8

,Match Title,Series,Place,Date,Time
0,ASIA CUP 2023,India vs Pakistan,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
1,ASIA CUP 2023,India vs Nepal,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,India vs Australia,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,India vs Australia,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,India vs Australia,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST
5,ICC MENS WORLD CUP 2023,India vs Australia,"MA Chidambaram Stadium,",8 OCT 2023,2:00 PM IST
6,ICC MENS WORLD CUP 2023,India vs Afghanistan,"Arun Jaitley Stadium,",11 OCT 2023,2:00 PM IST
7,ICC MENS WORLD CUP 2023,India vs Pakistan,"Narendra Modi Stadium,",14 OCT 2023,2:00 PM IST

In [9]:
# Question no. 3:

driver = webdriver.Chrome()
driver.get("https://www.statisticstimes.com/economy/india-statistics.php")

driver.maximize_window()
time.sleep(5)

button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
button.click()
time.sleep(2)

# Scraping Rank from the page:

rank=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
try:
    for b in a:
        rank.append(b.text)
except NoSuchElementException:
    print('-')


# Scraping State from Page:

state=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
try:
    for b in a:
        state.append(b.text)
except NoSuchElementException:
    print('-')


# Scraping GSDP(18-19) at Current Prices from Page:

gsdp1=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
try:
    for b in a:
        gsdp1.append(b.text)
except NoSuchElementException:
    print('-')


# Scraping GSDP(19-20) at Current Prices from Page:

gsdp2=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
try:
    for b in a:
        gsdp2.append(b.text)
except NoSuchElementException:
    print('-')


# Scraping Share (18-19) at Current Prices from Page:

share=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
try:
    for b in a:
        share.append(b.text)
except NoSuchElementException:
    print('-')


# Scraping GDP from the page:

gdp=[]
a=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
try:
    for b in a:
        gdp.append(b.text)
except NoSuchElementException:
    print('-')


# Checking lenght of each column:

print(len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp))

Q3=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)- at Current prices':gsdp1,'GSDP(19-20)- at Current prices':gsdp2,'Share(18-19)':share,'GDP(in Billion)':gdp})
Q3

66 66 66 66 66 66

,Rank,State,GSDP(18-19)- at Current prices,GSDP(19-20)- at Current prices,Share(18-19),GDP(in Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [10]:
# Question no. 4:

driver = webdriver.Chrome()
driver.get("https://github.com/topics")

driver.maximize_window()
time.sleep(5)

button=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/main/div[1]/nav/div/a[3]")
button.click()
time.sleep(3)


# Scraping Repositary title from the page:

name=[]
a=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for b in a:
    name.append(b.text)
name=name[:20]


# Scraping Repositary description from the page:

desc=[]
a=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
try:
    for b in a:
        desc.append(b.text)
except NoSuchElementException:
    print('-')
desc=desc[:20]


# Scraping Language from the page:

lang=[]
a=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
try:
    for b in a:
        lang.append(b.text)
except NoSuchElementException:
    print('-')
lang=lang[:20]


# Scraping Contributors count from the page:

contri=[]
a=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
try:
    for b in a:
        contri.append(b.text)
except NoSuchElementException:
    print('-')
contri=contri[:20]

# Checking length of each column:

print(len(name),len(desc),len(lang),len(contri))

Q4 = pd.DataFrame({'Repositary Title':name,'Repositary description':desc,'Contributors Count': contri,'Languages Used': lang})
Q4

20 20 20 20

,Repositary Title,Repositary description,Contributors Count,Languages Used
0,joonspk-research / generative_agents,Generative Agents: Interactive Simulacra of Hu...,819,Python
1,modelscope / facechain,FaceChain is a deep-learning toolchain for gen...,67,C
2,phoboslab / wipeout-rewrite,Multiplayer at the speed of light,36,Rust
3,clockworklabs / SpacetimeDB,A youtube-dl fork with additional features and...,50,Python
4,yt-dlp / yt-dlp,Minimalist ML framework for Rust,"4,395",C
5,id-Software / quake2-rerelease-dll,All Algorithms implemented in Python,98,Rust
6,huggingface / candle,Bitcoin Core integration/staging tree,193,Python
7,TheAlgorithms / Python,This repo is a pipeline of VITS finetuning for...,"41,184",C++
8,bitcoin / bitcoin,"Original reference implementation of ""3D Gauss...","35,522",Python
9,Plachtaa / VITS-fast-fine-tuning,Drag & drop UI to build your customized LLM flow,415,Python
10,graphdeco-inria / gaussian-splatting,"The Patterns of Scalable, Reliable, and Perfor...",83,TypeScript
11,FlowiseAI / Flowise,面向网络安全从业者的知识文库🍃,"5,393",Go
12,binhnguyennus / awesome-scalability,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁","5,158",HTML
13,PeiQi0 / PeiQi-WIKI-Book,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",447,Python
14,DeBankDeFi / DeBankChain,"🥷 Superagent - Build, deploy, and manage LLM-p...",34,JavaScript
15,taikoxyz / taiko-mono,Fork of Paper which adds regionised multithrea...,800,Kotlin
16,521xueweihan / HelloGitHub,Command-line program to download videos from Y...,"9,150",Python
17,homanp / superagent,Jupyter Notebook,356,Jupyter Notebook
18,PaperMC / Folia,Simple Directmedia Layer,237,C
19,ytdl-org / youtube-dl,"♾ Infisical is an open-source, end-to-end encr...","9,231",TypeScript

In [11]:
# Question no. 5:

driver = webdriver.Chrome()
driver.get("https://www.billboard.com/charts/")

driver.maximize_window()
time.sleep(5)

button=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
button.click()
time.sleep(3)

# Scraping Song title from the page:

song=[]
a=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
try:
    for b in a:
        song.append(b.text)
except NoSuchElementException:
    print('-')

remaining=[]
a=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
try:
    for b in a:
        remaining.append(b.text)
except NoSuchElementException:
    print('-') 
    
    
# Scraping Artist name from the page:

artist=remaining[0::4]


# Scraping last week rank name from the page:

lrank=remaining[1::4]

# Scraping Peak rank from the page:

prank=remaining[2::4]

# Scraping Weeks on Chart from the page:

week=remaining[3::4]

# Checking lengths of each column:
print(len(song),len(artist),len(lrank),len(prank),len(week))

Q5 = pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':lrank,'Peak Rank':prank,'Weeks on Board':week})
Q5

100 100 100 100 100

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Last Night,Morgan Wallen,2,1,27
1,Fast Car,Luke Combs,3,2,19
2,Meltdown,Travis Scott Featuring Drake,-,3,1
3,Cruel Summer,Taylor Swift,6,4,13
4,FE!N,Travis Scott Featuring Playboi Carti,-,5,1
...,...,...,...,...,...
95,Oh U Went,Young Thug Featuring Drake,66,19,6
96,ICU,Coco Jones,71,62,18
97,Pound Town 2,Sexyy Red & Tay Keith & Nicki Minaj,74,66,9
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,72,31,9
99,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",96,96,3

In [2]:
# Question no. 6:

driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare ")

driver.maximize_window()
time.sleep(5)

# Scraping Book Name from the page:
book=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for b in a:
    book.append(b.text)

    
# Scraping Author Name from the page
author=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for b in a:
    author.append(b.text)


# Scraping Volumes Sold from the page:
volume=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for b in a:
    volume.append(b.text)


# Scraping Publisher Sold from the page:
publisher=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for b in a:
    publisher.append(b.text)


# Scraping Genre Sold from the page:
gen=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for b in a:
    gen.append(b.text)

    
# Checking length of each column:
print(len(book),len(author),len(volume),len(publisher),len(gen))

Q6=pd.DataFrame({'Book Name':book,'Author Name':author,'Volumes Sold':volume,'Publisher':publisher,'Genre':gen})
Q6

100 100 100 100 100

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [3]:
# Question no. 7:

driver = webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

driver.maximize_window()
time.sleep(5)

# Scraping Name from the page:
name=[]
a=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for b in a:
    name.append(b.text)

# Scraping Year Span from the page:    
span=[]
a=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for b in a:
    span.append(b.text)


# Scraping Genre from the page:
gen=[]
a=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for b in a:
    gen.append(b.text)


# Scraping Run Time from the page:
time=[]
a=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
for b in a:
    time.append(b.text)


# Scraping Ratings from the page:
rating=[]
a=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for b in a:
    rating.append(b.text)


# Scraping Run Time from the page:
run=[]
a=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for b in a:
    run.append(b.text)

    
# Checking length of each column:
print(len(name),len(span),len(time),len(gen),len(rating),len(run))

Q7=pd.DataFrame({'Name':name,'Year Span':span,'Genre':gen,'Run Time':time,'Ratings':rating,'Votes':run})
Q7

100 100 100 100 100 100

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,163"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,063"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,851"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,924"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,407"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,432"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,005"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,661"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,471"

In [4]:
# Question no. 8:

driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

driver.maximize_window()
time.sleep(5)

button=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
button.click()
time.sleep(3)

button=driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
button.click()
time.sleep(3)

# Scraping Dataset Name from the page:
name=[]
a=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for b in a:
    name.append(b.text)


# Scraping Data type from the page:
types=[]
a=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for b in a:
    types.append(b.text)


# Scraping Task from the page:
task=[]
a=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for b in a:
    task.append(b.text)


# Scraping Attribute Type from the page:
atype=[]
a=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for b in a:
    atype.append(b.text)


# Scraping No. of Instances from the page:
instance=[]
a=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for b in a:
    instance.append(b.text)
    

# Scraping No. of Attributes from the page:
attributes=[]
a=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for b in a:
    attributes.append(b.text)
    

# Scraping Year from the page:
year=[]
a=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for b in a:
    year.append(b.text)


# Checking length of each  column:
print(len(name),len(types),len(task),len(atype),len(instance),len(attributes),len(year))

Q8=pd.DataFrame({'DataSet Name':name,'Data Type':types,'Task':task,'Attribute Type':atype,'No. of Instances':instance,'No. of Attribute':attributes,'Year':year})
Q8

10 10 10 10 10 10 10

,DataSet Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Attributes,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
5,Wine,Multivariate,Classification,"Integer, Real",178 Instances,13 Attributes,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Attributes,11/1/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Attributes,10/6/2019
8,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Attributes,6/1/1997
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Attributes,4/27/1987