In [2]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\azhar1\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\azhar1\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\azhar1\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\azhar1\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\azhar1\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\azhar1\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\azhar1\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\azhar1\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
#Question 1

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get('https://www.naukri.com/')

designation=driver.find_element(By.CLASS_NAME,'suggestor-input') #Input Data Analyst
designation.send_keys('Data Analyst')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input') #Input Bangalore
location.send_keys('Banglore')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit') #Click on search
search.click()
time.sleep(6)

#scraping Job title from the given page
title=[]
a=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in a[0:10]:
    b=i.text
    title.append(b)
    
    
#scraping Job location from the given page
location=[]
a=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in a[0:10]:
    b=i.text
    location.append(b) 
    
    
#scraping Company name from the given page
name=[]
a=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in a[0:10]:
    b=i.text
    name.append(b)
    

#scraping Experience required from the given page
exp=[]
a=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in a[0:10]:
    b=i.text
    exp.append(b)


print(len(title),len(location),len(name),len(exp))
c=pd.DataFrame({'Job_Title':title,'Job_location':location,'Company_Name':name,'Experience_Required':exp})
c

10 10 10 10

,Job_Title,Job_location,Company_Name,Experience_Required
0,Data Analyst,"Gurgaon/ Gurugram, Haryana, Bangalore/ Bengalu...",Delhivery,1-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
2,Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synchron Infotech,5-8 Yrs
3,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,Yulu Bikes,4-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
6,Data Analyst,"Chennai, Bangalore/Bengaluru",Shell,1-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Paychex It Solutions,3-8 Yrs
8,Data Analyst,"Bangalore/ Bengaluru, Karnataka(Hebbal Kempapura)",Futurlytic,1-2 Yrs
9,Data Analyst,Bangalore/Bengaluru,MSys Technologies,2-3 Yrs

In [12]:
#Question 2

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get('https://www.naukri.com/')

designation=driver.find_element(By.CLASS_NAME,'suggestor-input') #Input Data Analyst
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input') #Input Bangalore
location.send_keys('Banglore')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit') #Click on search
search.click()
time.sleep(6)

#scraping Job title from the given page
title=[]
a=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in a[0:10]:
    b=i.text
    title.append(b)
    

#scraping Job location from the given page
location=[]
a=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in a[0:10]:
    b=i.text
    location.append(b) 
    
    
#scraping Company name from the given page
name=[]
a=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in a[0:10]:
    b=i.text
    name.append(b)
    
print(len(title),len(location),len(name),len(exp))
c=pd.DataFrame({'Job_Title':title,'Job_location':location,'Company_Name':name})
c

10 10 10 10

,Job_Title,Job_location,Company_Name
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Sr . Data Scientist / Manager,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech
3,Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech
4,ACN - Applied Intelligence - Finance - Data Sc...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Accenture
5,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics
6,Lead Data Scientist,Bangalore/Bengaluru,Siemens
7,Data Scientist,Bangalore/Bengaluru,Essenware Private Limted
8,Senior Data Scientist,Bangalore/Bengaluru,Cargill
9,STAFF DATA SCIENTIST,Bangalore/Bengaluru,Walmart

In [5]:
# 3rd Question:

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.naukri.com/'
driver.get(url)
time.sleep(4)
driver.maximize_window()

designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data scientist')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()
time.sleep(4)


#Filtering by Location as "Delhi/NCR"

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
search.click()
time.sleep(5)


#Filtering by Salary to "0-3Lakhs"

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
search.click()
time.sleep(5)


#scraping job title from the given page

title=[]
a=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in a[0:10]:
    b=i.text
    title.append(b)


#scraping Job location from the given page

location=[]
a=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in a[0:10]:
    b=i.text
    location.append(b) 

#scraping Company name from the given page

name=[]
a=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in a[0:10]:
    b=i.text
    name.append(b)
    
#scraping Experience required from the given page

exp=[]
a=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in a[0:10]:
    b=i.text
    exp.append(b)

    
print(len(title),len(location),len(name),len(exp))

c=pd.DataFrame({'Job_Title':title,'Job_location':location,'Company_Name':name,'Experience_Required':exp})
c

10 10 10 10

,Job_Title,Job_location,Company_Name,Experience_Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Principal Data Scientist,New Delhi,Benovymed Healthcare,2-7 Yrs

In [45]:
#4th Question:

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

exit_button=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button') #Closing pop-up while opening the page
exit_button
exit_button.click()

designation=driver.find_element(By.CLASS_NAME,'_3704LK') 
designation.send_keys('sun glasses')

search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()
time.sleep(4)

#Extracting details as Brand name, description and price

name1=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    name1.append(b)
name1=name1[:36]    
product1=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    product1.append(b)
product1=product1[:36]
price1=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price1.append(b)
price1=price1[:36]
time.sleep(5)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(5)
#Extracting from page 2
name2=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    name2.append(b)
name2=name2[:36]    
product2=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    product2.append(b)
product2=product2[:36]
price2=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price2.append(b)
price2=price2[:36]
time.sleep(5)
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()
time.sleep(5)
#Extracting from page 3

name3=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    name3.append(b)
name3=name3[:28]    
product3=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    product3.append(b)
product3=product3[:28]
price3=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price3.append(b)
price3=price3[:28]

name=[]
name=name1+name2+name3
product=[]
product=product1+product2+product3
price=[]
price=price1+price2+price3
print(len(name),len(product),len(price))

c=pd.DataFrame({'Brand':name,'Product Description':product,'Price':price})
c

100 100 100

          Brand                                Product Description   Price
0   john jacobs                UV Protection Round Sunglasses (53)  ₹2,249
1   john jacobs         UV Protection Retro Square Sunglasses (57)  ₹1,999
2     Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹168
3          SRPM             UV Protection Wayfarer Sunglasses (50)    ₹194
4      Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹539
..          ...                                                ...     ...
95       ROZIOR       UV Protection Cat-eye Sunglasses (Free Size)    ₹399
96       Sukart  UV Protection, Riding Glasses, Polarized, Grad...    ₹281
97      Ray-Ban                UV Protection Round Sunglasses (58)  ₹4,613
98       Resist  Gradient, Riding Glasses, UV Protection, Tough...  ₹1,349
99      Redleaf  Gradient, UV Protection Round Sunglasses (Free...    ₹251

[100 rows x 3 columns]

In [47]:
# Question no. 5

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART'
driver.get(url)
driver.maximize_window()

#extracting from page
time.sleep(3)
rating1=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating1.append(b)
summary1=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary1.append(b)
full1=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full1.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
search.click()

#extracting from page 2
time.sleep(3)
rating2=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating2.append(b)
summary2=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary2.append(b)
full2=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full2.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 3
time.sleep(3)
rating3=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating3.append(b)
summary3=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary3.append(b)
full3=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full3.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 4
time.sleep(3)
rating4=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating4.append(b)
summary4=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary4.append(b)
full4=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full4.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 5
time.sleep(3)
rating5=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating5.append(b)
summary5=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary5.append(b)
full5=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full5.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 6
time.sleep(3)
rating6=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating6.append(b)
summary6=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary6.append(b)
full6=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full6.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 7
time.sleep(3)
rating7=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating7.append(b)
summary7=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary7.append(b)
full7=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full7.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 8
time.sleep(3)
rating8=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating8.append(b)
summary8=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary8.append(b)
full8=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full8.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 9
time.sleep(3)
rating9=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating9.append(b)
summary9=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary9.append(b)
full9=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full9.append(b)
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
search.click()

#extracting from page 10
time.sleep(3)
rating10=[]
a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in a:
    b=i.text
    rating10.append(b)
summary10=[]
a=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in a:
    b=i.text
    summary10.append(b)
full10=[]
a=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in a:
    b=i.text
    full10.append(b)
time.sleep(3)

rating=[]
rating=rating1+rating2+rating3+rating4+rating5+rating6+rating7+rating8+rating9+rating10
summary=[]
summary=summary1+summary2+summary3+summary4+summary5+summary6+summary7+summary8+summary9+summary10
full=[]
full=full1+full2+full3+full4+full5+full6+full7+full8+full9+full10
print(len(rating),len(summary),len(full))

c=pd.DataFrame({'Rating':rating,'Review Summary':summary,'Full Review':full})
c

100 100 100

,Rating,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific purchase,Value for money 😍
3,5,Wonderful,This is amazing at all
4,5,Brilliant,Excellent Phone.
...,...,...,...
95,5,Wonderful,Quality camera
96,5,Must buy!,Best Apple iPhone that i have bought at a very...
97,5,Super!,Exactly mach what you expect and where Spent y...
98,5,Highly recommended,Excellent product but packing was not upto mark..
99,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

In [4]:
#6th Question:

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

exit_button=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button') #Closing pop-up while opening the page
exit_button
exit_button.click()

designation=driver.find_element(By.CLASS_NAME,'_3704LK') 
designation.send_keys('sneaker')

search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

#extracting from page

time.sleep(3)
brand1=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    brand1.append(b)
brand1=brand1[:33]
desc1=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    desc1.append(b)
desc1=desc1[:33]    
price1=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price1.append(b)
price1=price1[:33]    
time.sleep(3)
search=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
search.click()

#extracting from page 2

time.sleep(3)
brand2=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    brand2.append(b)
brand2=brand2[:33]
desc2=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    desc2.append(b)
desc2=desc2[:33]    
price2=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price2.append(b)
price2=price2[:33]    
time.sleep(3)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
search.click()

#extracting from page 3

time.sleep(3)
brand3=[]
a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in a:
    b=i.text
    brand3.append(b)
brand3=brand3[:34]
desc3=[]
a=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in a:
    b=i.text
    desc3.append(b)
desc3=desc3[:34]    
price3=[]
a=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in a:
    b=i.text
    price3.append(b)
price3=price3[:34]    
time.sleep(3)

brand=[]
brand=brand1+brand2+brand3
desc=[]
desc=desc1+desc2+desc3
price=[]
price=price1+price2+price3

print(len(brand),len(desc),len(price))

c=pd.DataFrame({'Brand':brand,'Product Description':desc,'Price':price})
c

100 100 100

       Brand                                Product Description   Price
0     BRUTON    !Combo Pack Of 2 Casual Shoes! Sneakers For Men    ₹479
1      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹479
2       aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
3       aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹499
4        SFR                                   Sneakers For Men    ₹348
..       ...                                                ...     ...
95  RED TAPE  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹1,399
96      aadi                                   Sneakers For Men    ₹499
97  WOODLAND                                   Sneakers For Men  ₹2,096
98      aadi                      Club Culture Sneakers For Men    ₹499
99  RED TAPE                                 Sneakers For Women  ₹1,449

[100 rows x 3 columns]

In [6]:
# Question no. 7

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.amazon.in/'
driver.get(url)
driver.maximize_window()
time.sleep(3)

#Searching by term Laptop

designation=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input') 
designation.send_keys('Laptop')

search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()
time.sleep(3)

#Extracting Brand
brand=[]
a=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in a:
    b=i.text
    brand.append(b)
brand=brand[:10]
time.sleep(3)

#Extracting price

price=[]
a=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in a:
    price.append(i.text)
price=price[:10] 

print(len(brand),len(price))
c=pd.DataFrame({'Title':brand,'Price':price})
c

10 10

                                               Title   Price
0  Acer Aspire Lite AMD Ryzen 5 5500U Premium Thi...  40,990
1  Acer One 14 Laptop Intel Core i5 1135G7 (8GB R...  42,990
2  Acer Aspire Lite 11th Gen Intel Core i3-1115G4...  32,990
3  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...  39,990
4  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...  36,990
5  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...  37,800
6  ASUS [Smart Choice] Vivobook 15, Intel Celeron...  30,990
7  Acer Aspire Lite 11th Gen Intel Core i5-1155G7...  45,990
8  Dell Vostro 3420 Laptop,Intel i5-1135G7/8GB/51...  49,490
9  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...  41,990

In [7]:
#Question no. 8:

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.azquotes.com/'
driver.get(url)
driver.maximize_window()
time.sleep(3)

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()
time.sleep(3)

#Extracting from page 1

quote1=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote1.append(b)
author1=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author1.append(b) 
type1=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type1.append(b)

# Extracting from page 2

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
search.click()
time.sleep(3)

quote2=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote2.append(b)
author2=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author2.append(b)   
type2=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type2.append(b)
    
# Extracting from page 3

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[5]/a')
search.click()
time.sleep(3)

quote3=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote3.append(b)
author3=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author3.append(b)   
type3=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type3.append(b)
    
# Extracting from page 4

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[6]/a')
search.click()
time.sleep(3)

quote4=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote4.append(b)
author4=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author4.append(b)   
type4=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type4.append(b)
    
# Extracting from page 5

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[7]/a')
search.click()
time.sleep(3)

quote5=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote5.append(b)
author5=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author5.append(b)   
type5=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type5.append(b)
    
# Extracting from page 6

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[8]/a')
search.click()
time.sleep(3)

quote6=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote6.append(b)
author6=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author6.append(b)   
type6=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type6.append(b)
    
# Extracting from page 7

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[9]/a')
search.click()
time.sleep(3)

quote7=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote7.append(b)
author7=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author7.append(b)   
type7=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type7.append(b)
    
# Extracting from page 8

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[10]/a')
search.click()
time.sleep(3)

quote8=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote8.append(b)
author8=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author8.append(b)   
type8=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type8.append(b)
    
# Extracting from page 9

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[11]/a')
search.click()
time.sleep(3)

quote9=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote9.append(b)
author9=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author9.append(b)   
type9=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type9.append(b)

# Extracting from page 10

time.sleep(2)
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search.click()
time.sleep(3)

quote10=[]
a=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in a:
    b=i.text
    quote10.append(b)
author10=[]
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    b=i.text
    author10.append(b)   
type10=[]
a=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in a:
    b=i.text
    type10.append(b)

quote=[]
quote=quote1+quote2+quote3+quote4+quote5+quote6+quote7+quote8+quote9+quote10
author=[]
author=author1+author2+author3+author4+author5+author6+author7+author8+author9+author10
typed=[]
typed=type1+type2+type3+type4+type5+type6+type7+type8+type9+type10

print(len(quote),len(author),len(typed))

c=pd.DataFrame({'Quote':quote,'Author':author,'Type of Quote':typed})
c

1000 1000 1000

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [11]:
# Question no. 9

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url='https://www.jagranjosh.com/'
driver.get(url)
driver.maximize_window()
time.sleep(8)

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
search.click()
time.sleep(6)

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()
time.sleep(6)

# One

name1=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 121px;"]')
for i in a:
    b=i.text
    name1.append(b)


born1=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 121px;"]')
for i in a:
    b=i.text
    born1.append(b)


term1=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 121px;"]')
for i in a:
    b=i.text
    term1.append(b)

remark1=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 121px;"]')
for i in a:
    b=i.text
    remark1.append(b)
    
# Two

name2=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 80px;"]')
for i in a:
    b=i.text
    name2.append(b)
name2

born2=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 80px;"]')
for i in a:
    b=i.text
    born2.append(b)


term2=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 80px;"]')
for i in a:
    b=i.text
    term2.append(b)

remark2=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 80px;"]')
for i in a:
    b=i.text
    remark2.append(b)
    
# Three

name3=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 104px;"]')
for i in a:
    b=i.text
    name3.append(b)

born3=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 104px;"]')
for i in a:
    b=i.text
    born3.append(b)


term3=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 104px;"]')
for i in a:
    b=i.text
    term3.append(b)

remark3=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 104px;"]')
for i in a:
    b=i.text
    remark3.append(b)
    
# Four

name4=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 87px;"]')
for i in a:
    b=i.text
    name4.append(b)

born4=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 87px;"]')
for i in a:
    b=i.text
    born4.append(b)


term4=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 87px;"]')
for i in a:
    b=i.text
    term4.append(b)

remark4=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 87px;"]')
for i in a:
    b=i.text
    remark4.append(b)
    
# Five

name5=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 97px;"]')
for i in a:
    b=i.text
    name5.append(b)

born5=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 97px;"]')
for i in a:
    b=i.text
    born5.append(b)


term5=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 97px;"]')
for i in a:
    b=i.text
    term5.append(b)

remark5=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 97px;"]')
for i in a:
    b=i.text
    remark5.append(b)
    
# Six

name6=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 150px;"]')
for i in a:
    b=i.text
    name6.append(b)
    
born6=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 105px;"]')
for i in a:
    b=i.text
    born6.append(b)


term6=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 256px;"]')
for i in a:
    b=i.text
    term6.append(b)

remark6=[]
a=driver.find_elements(By.XPATH,'//td[@style="width: 145px;"]')
for i in a:
    b=i.text
    remark6.append(b)
    
name=[]
name=name1+name2+name3+name4+name5+name6
born=[]
born=born1+born2+born3+born4+born5+born6
term=[]
term=term1+term2+term3+term4+term5+term6
remark=[]
remark=remark1+remark2+remark3+remark4+remark5+remark6

print(len(name),len(born),len(term),len(remark))

19 19 19 19

In [13]:
# Creating DataFrame with the above information

c=pd.DataFrame({'PM Name':name,'Born-Dead':born,'Term of office':term,'Remark':remark})
c

,PM Name,Born-Dead,Term of office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
6,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
7,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
8,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
9,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
10,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
11,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
12,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
13,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
14,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
15,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
16,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
17,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [4]:
# Question no. 10:

driver = webdriver.Chrome()

driver.get("https://www.motor1.com/")

driver.maximize_window()
time.sleep(6)

designation=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input') 
designation.send_keys('50 most expensive cars')

search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()
time.sleep(3)

search=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search.click()
time.sleep(3)

# Extracting Car titles

carname=[]
a=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in a:
    b=i.text
    carname.append(b)
carname=carname[:50] 

# Extracting Price

a=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong')
for i in b:
    c=i.text
    a.append(c)
a1=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[6]/strong')
for i in b:
    c=i.text
    a1.append(c)
a2=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[8]/strong')
for i in b:
    c=i.text
    a2.append(c)
a3=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[10]/strong')
for i in b:
    c=i.text
    a3.append(c)
a4=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[12]/strong')
for i in b:
    c=i.text
    a4.append(c)
a5=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[14]/strong')
for i in b:
    c=i.text
    a5.append(c)
a6=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[16]/strong')
for i in b:
    c=i.text
    a6.append(c) 
a7=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[18]/strong')
for i in b:
    c=i.text
    a7.append(c)  
a8=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[20]/strong')
for i in b:
    c=i.text
    a8.append(c)  
a9=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[22]/strong')
for i in b:
    c=i.text
    a9.append(c)   
a10=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[24]/strong')
for i in b:
    c=i.text
    a10.append(c)
a11=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[26]/strong')
for i in b:
    c=i.text
    a11.append(c) 
a12=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[28]/strong')
for i in b:
    c=i.text
    a12.append(c)  
a13=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[30]/strong')
for i in b:
    c=i.text
    a13.append(c)
a14=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[32]/strong')
for i in b:
    c=i.text
    a14.append(c)
a15=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[34]/strong')
for i in b:
    c=i.text
    a15.append(c) 
a16=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[36]/strong')
for i in b:
    c=i.text
    a16.append(c)  
a17=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[38]/strong')
for i in b:
    c=i.text
    a17.append(c)
a18=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[40]/strong')
for i in b:
    c=i.text
    a18.append(c)
a19=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[42]/strong')
for i in b:
    c=i.text
    a19.append(c) 
a20=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[44]/strong')
for i in b:
    c=i.text
    a20.append(c)  
a21=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[46]/strong')
for i in b:
    c=i.text
    a21.append(c)
a22=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[48]/strong')
for i in b:
    c=i.text
    a22.append(c)
a23=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[50]/strong')
for i in b:
    c=i.text
    a23.append(c) 
a24=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[52]/strong')
for i in b:
    c=i.text
    a24.append(c)  
a25=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[54]/strong')
for i in b:
    c=i.text
    a25.append(c)
a26=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[56]/strong')
for i in b:
    c=i.text
    a26.append(c)
a27=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[58]/strong')
for i in b:
    c=i.text
    a27.append(c) 
a28=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[60]/strong')
for i in b:
    c=i.text
    a28.append(c)  
a29=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[62]/strong')
for i in b:
    c=i.text
    a29.append(c)
a30=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[64]/strong')
for i in b:
    c=i.text
    a30.append(c)
a31=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[66]/strong')
for i in b:
    c=i.text
    a31.append(c) 
a32=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[68]/strong')
for i in b:
    c=i.text
    a32.append(c)  
a33=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[70]/strong')
for i in b:
    c=i.text
    a33.append(c)
a34=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[72]/strong')
for i in b:
    c=i.text
    a34.append(c)
a35=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[74]/strong')
for i in b:
    c=i.text
    a35.append(c) 
a36=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[76]/strong')
for i in b:
    c=i.text
    a36.append(c)  
a37=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[78]/strong')
for i in b:
    c=i.text
    a37.append(c)
a38=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[80]/strong')
for i in b:
    c=i.text
    a38.append(c)
a39=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[82]/strong')
for i in b:
    c=i.text
    a39.append(c) 
a40=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[84]/strong')
for i in b:
    c=i.text
    a40.append(c)  
a41=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[86]/strong')
for i in b:
    c=i.text
    a41.append(c)
a42=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[88]/strong')
for i in b:
    c=i.text
    a42.append(c)
a43=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[90]/strong')
for i in b:
    c=i.text
    a43.append(c) 
a44=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[92]/strong')
for i in b:
    c=i.text
    a44.append(c)  
a45=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[94]/strong')
for i in b:
    c=i.text
    a45.append(c)
a46=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[96]/strong')
for i in b:
    c=i.text
    a46.append(c)
a47=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[98]/strong')
for i in b:
    c=i.text
    a47.append(c) 
a48=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[100]/strong')
for i in b:
    c=i.text
    a48.append(c)  
a49=[]
b=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[102]/strong')
for i in b:
    c=i.text
    a49.append(c)
    
price=[]
price=a+a1+a2+a3+a4+a5+a6+a7+a8+a9+a10+a11+a12+a13+a14+a15+a16+a17+a18+a19+a20+a21+a22+a23+a24+a25+a26+a27+a28+a29+a30+a31+a31+a32+a33+a34+a35+a36+a37+a38+a39+a40+a41+a42+a43+a44+a45+a46+a47+a48+a49
price=price[:50]

print(len(carname),len(price))

c=pd.DataFrame({'Car_Name':carname,'Price':price})
c

50 50

                           Car_Name                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva   Price: $1.7 Million
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.8 Million
10                  Bentley Bacalar   Price: $1.9 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $2.0 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara  Price: $2.0 Million*
15                      Lotus Evija   Price: $2.1 Million
16              Aston Martin Vulcan   Price: $2.3 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.4 Million
20                    Pagani Utopia   Price: $2.5 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.6 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.7 Million
26              Aston Martin Victor   Price: $3.0 Million
27      Hennessey Venom F5 Roadster          $3.0 Million
28                 Koenigsegg Jesko   Price: $3.0 Million
29            Aston Martin Valkyrie   Price: $3.2 Million
30        W Motors Lykan Hypersport   Price: $3.4 Million
31                    McLaren Solus          $3.5 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million